@font-face {
  font-family: 'marsek';
  src: url('../fonts/Marsek-Demi.ttf') format('truetype');
}

@font-face {
  font-family: 'DJB Get Digital';
  src: url('../fonts/DJB-Get-Digital.ttf') format('truetype');
}
