@import 'override-vuetify';
@import 'fonts';

html {
  font-family: 'Noto Sans JP', 'Roboto', sans-serif;

  * {
    z-index: unset;
  }
}

ul > li {
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

img {
  display: inline-flex;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 20px;
}
