/*==================================================共通====================================================*/
* {
  font-family: "Hiragino Kaku Gothic Pro", sans-serif;
}

.container {
  margin: 0 auto;
  min-height: 100vh;
  max-width: 800px;
}
html {
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* =================================================layouts================================================= */
/*==全ページ共通（default.vue）==*/

/* ================================================components================================================ */
/* =========Atom========= */
/*==ヘッダーの検索蘭（searchForm.vue）==*/
/*==ShoesPicksロゴTOPへの遷移（shoesPicksLogo.vue）==*/
.brandLogo {
  text-align: center;
  font-weight: 600;
}
.brandLogo img {
  height: 6.2vh;
}
/*==購入ボタン（purchase.vue）==*/
.purchaseBtn {
  font-weight: 600;
  font-size: 16px;
  background: linear-gradient(to bottom, #ffd800, #e2be00) !important;
  border-color: #ffd900;
  color: #fff !important;
  padding: 10px 25px 15px;
  border-radius: 20px;
}
.purchaseBtn:hover {
  color: #ffd900;
  background: #fff !important;
  border-color: #ffd900;
}

/* =========Molecule========= */
/*==チャート（BarChart.vue）==*/
/*==ヘッダー（myHeader.vue）==*/
.menuBack {
  background-color: #0a1921 !important;
}
.b-sidebar {
  /* bootstrapの上書き */
  background-color: #0a1921 !important;
}
.sepLine {
  /* SNSと堺の線 */
  width: 100%;
  height: 0.1vw;
  background-color: #707070;
  margin: 1.5vw 0;
}
.hamburger li,
.hamburger a {
  margin-left: 5%;
  list-style-type: none;
  text-decoration: none;
  color: #fff;
}
.hamburger p {
  margin-bottom: 0;
}
/*==フッター（myFooter.vue）==*/
.bgFooter {
  width: 100vw;
  padding: 5vw 7vw;
  font-size: 3.2vw;
  color: #fff;
  background-color: #0a1921 !important;
}

.bgFooter a,
.bgFooter li {
  list-style-type: none;
  text-decoration: none;
  color: #fff;
  line-height: 200%;
}
.bgFooter ul > li:first-of-type {
  font-weight: 600;
}
.socialicon {
  text-align: center;
  font-weight: 600;
}
.socialicon img {
  width: 48px;
  margin: 2vw 2vw 6vw 2vw;
}

/* =========Organism========= */

/* =================================================pages================================================= */
/*==TOPページ（index.vue）==*/
/* section 1 */
.topView {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40vh;
  background-color: gray;
  color: white;
}
.topView h1 {
  font-weight: 900;
  font-size: 1.5rem !important;
}
/* section 2 */
.topSearchBar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90vw;
  background-color: gainsboro;
  padding: 10%;
  margin: 0 auto;
}



/* section 3 */
.commonlySeen {
  padding: 33vw 0 10vw;
}
.commonlySeen h2 {
  font-size: 2.5vh;
}

/* section 4 */

/*  このサイトの使い方の文字色　#437BB9 */

/*==検索ページ（spikeSearch.vue）==*/
.flex {
  display: flex;
}
.maker {
  padding: 15px 20px;
  background-color: #0038c9;
  border: 1px;
  color: white;
  display: block;
  border-radius: 10px;
}

/*==詳細ページ（_id.vue）==*/
.itemTitle {
  display: block;
  font-weight: 300;
  font-size: 20px;
  color: #35495e;
  letter-spacing: 1px;
}

/* スパイク情報表 */
.basicInfo {
  border-collapse: collapse;
  width: 99.7709%;
  height: 243px;
}
.basicInfo tbody {
  display: block;
}
.basicInfo tr {
  display: flex;
}
.basicInfo td {
  padding: 1% !important;
  border: 1px solid #ddd;
  border-top: none;
  border-left: none;
}
.basicInfo td:nth-child(1) {
  text-align: center;
  color: #fff;
  background-color: #0494c8 !important;
  width: 25%;
}
.basicInfo td:nth-child(2) {
  text-align: left;
  padding-left: 3% !important;
  width: 75%;
}

/* カルーセルの３点 */
.theme--dark.v-btn.v-btn--icon {
  color: #327cbe; /* vuetifyの上書き */
}


@media screen and (min-width: 768px){
  .topSearchBar {
    top: 50vh;
    padding: 5vh;
  }
}